<div class='recipe'>
  <button class='get'><%= link_to "Add Recipe", new_recipe_path %></button>
  
  <% @recipes.each do |recipe| %>
    <div class='done'>      
      <div class='recipe-left'>
        <div>
          <%= link_to recipe.name, recipe_path(recipe), class: 'recipe-title' %><br>
          <span class='recipe-username'> by <%= recipe.user.name %></span>      
        </div>
        <div>
          <%= button_to "Remove", recipe_path(recipe.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete, class: "delete" %>
        </div>
      </div>
      <div class='recipe-description'>
        <%= recipe.description %>
      </div>       
    </div>
  <% end %>
</div>
